* {
margin: 0;
padding: 0;
text-align: center;
}
body {
background-color: rgb(48,6,48);
color: white;
font-family: Arial;
font-size: 1em;
}
h1 {
font-size: 2.5em;
margin: 1em 0;
}
a {
color: rgb(238,130,238);
text-decoration: none;
}
li {
background-color: rgb(255,215,0);
border: 1px solid rgb(255,215,0);
border-radius: 18px;
color: rgb(30,4,30);
display: inline-block;
height: 36px;
width: 36px;
line-height: 2.3;
list-style-type: none;
margin-right: 5px;
vertical-align: baseline;
}
button {
background-color: rgb(229,61,229);
border: 1px solid rgb(229,61,229);
border-radius: 6px;
font-size: 1em;
padding: 6px;
width: 100px;
}
button:hover {
background-color: rgb(236,113,236);
}
footer {
margin: 0 2em 3em;
}
#result, #btns {
margin: auto;
width: 300px;
}
#btns {
padding: 2.3em 0;
}
#stop-btn, #reset-btn {
display: none;
}
#coupon {
padding: 0 0 2.3em;
}
#coupon-tab {
margin: auto;
width: 300px;
}
#coupon-tab, #coupon-tab th, #coupon-tab tr, #coupon-tab td {
border: 1px solid rgb(245,182,245);
border-collapse: collapse;
}
#coupon-tab th, #coupon-tab td {
padding: 10px;
}
#coupon-tab th {
background-color: rgb(245,182,245);
color: rgb(30,4,30);
text-align: justify;
}
