* {
margin: 0;
padding: 0;
text-align: center;
}
body {
font-family: Arial;
font-size: 1em;
}
h1 {
margin: 30px;
}
li {
background-color: yellow;
border: 1px solid black;
border-radius: 18px;
display: inline-block;
height: 36px;
width: 36px;
line-height: 2.3;
list-style-type: none;
vertical-align: baseline;
}
button {
background-color: lime;
border: 1px solid black;
border-radius: 6px;
padding: 6px;
width: 80px;
}
button:hover {
background-color: orange;
}
#result, #btns {
margin: 20px auto;
width: 300px;
}
#result {
display: none;
}
